<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class='text-muted'>Fav Icon comes from <a href="https://fontawesome.com/license">Font Awesome</a></span>
    </div>
</footer>