body {
	overflow-x: hidden;
}

#sidebar-image {
	max-height: 20vh;
	object-fit: cover;
}

.profile-img {
	max-height: 300px;
	max-width: 300px;
}

.edit-img {
	margin: 10px auto;
}

.cluster-map {
	width: 100%;
	height: 400px;
}

.form-map {
	width: 100%;
	height: 300px;
}

.card-display {
	height: 400px;
	overflow: scroll;
}

.request-display {
	height: 55px;
	overflow: scroll;
}

.requests {
	height: 30px;
}

.friend-display {
	height: 300px;
	overflow: scroll;
}

.friend-default-image {
	height: 166px;
}

.card-element {
	width: 200px;
	max-height: 350px;
}

.text-gray-200 {
	color: #e9ecef;
}

#carousel-pictures {
	height: 400px;
	width: 400px;
}

.carousel-picture {
	max-height: 400px;
	max-width: 100%;
}
