<% layout('layouts/boilerplate')%>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

<div class="row">
    <h1 class="text-center">New Pin</h1>
    <div class="col-6 offset-3">
        <form action="/collections/<%=collection._id%>/pins" class="new-pin validated-form" method='POST' enctype='multipart/form-data' novalidate>
            <div class="mb-2">
                <label class='form-label' for="title">Enter Pin Title: </label>
                <input required class='form-control' type="text" id="title" name='pin[title]'>    
            </div>
            <div class="mb-2">
                <label class='form-label' for="image-upload">Upload Images: </label>
                <input required class='form-control' type="file" id="image-upload" name='images' multiple accept=".jpg, .jpeg, .png">    
            </div>
            <div class="mb-2">
                <label class='form-label' for="description">Enter Pin description: </label>
                <input required class='form-control' type="text" id="description" name='pin[description]'>    
            </div>
            <div class="mb-2">
                <label class='form-label' for="location">Enter Location: </label>
                <input required class='form-control' name="pin[location]" id="location" type='text'></textarea>    
            </div>
            <div class="mb-2">
                <button type="button" id='findCoordinates' class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#create-pin">
                    Create
                </button>
            </div>
            <%- include('../partials/createPinModal') %>
        </form>
    </div>
</div>