<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container d-flex justify-content-center align-items-center mt-5 mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1488085061387-422e29b40080?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class='validated-form' enctype="multipart/form-data" novalidate method="POST">
                        <div class="mb-2">
                            <label for="email" class='form-label'>Email: </label>
                            <input required autofocus type="email" name='user[email]' id='email' class='form-control'>    
                        </div>
                        <div class="mb-2">
                            <label for="username" class='form-label'>Username: </label>
                            <input required type="text" name='user[username]' id='username' class='form-control'>    
                        </div>
                        <div class="mb-2">
                            <label for="password" class='form-label'>Password: </label>
                            <input required type="password" name='password' id='password' class='form-control'>    
                        </div>
                        <div class="mb-2">
                            <label class='form-label' for="image-upload">Upload Image: </label>
                            <input class='form-control' type="file" id="image-upload" name='image'>    
                        </div>
                        <button class='btn btn-success w-100'>Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <h1></h1>
    
</div>